---
import Layout from '../../layouts/layout.astro';
import ProjectItem from '../../components/content/project-item.svelte';
import { getCollection } from 'astro:content';

const projects = await getCollection('project');
const skills = await getCollection('skill');
---

<Layout title='Projects'>
  <div class='mx-2 my-8 max-w-full flex-grow'>
    {
      projects
        .toSorted((a, b) => a.data.priority - b.data.priority)
        .map((p) => <ProjectItem project={p} {skills} />)
    }
  </div>
</Layout>
