---
import '../global.css';
import Nav from '../components/layout/nav.svelte';
import Footer from '../components/layout/footer.svelte';
import '@fontsource-variable/jost';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Lunarweb is a portfolio website of Adrian Żegnałek - software developer'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title ? `${title} | Lunarweb` : 'Lunarweb'}</title>
    <ClientRouter />
  </head>

  <body class='flex h-full min-h-lvh w-full flex-col overscroll-none'>
    <Nav />

    <main
      class='flex h-full w-full flex-grow flex-col items-center justify-center bg-base-200'
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
